/* Write your CSS here */
.Home_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
